@model Entities.Kullanici

@{
    Layout = null; // layout seçmediğimiz için null olarak işaretleyip bu sayfa için html şablonu uyguladı
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yönetici Girişi</title>
    <style type="text/css">
        html, body, form {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .auto-style1 {
            width: 100%;
        }

        #loginForm {
            width: 333px;
        }
    </style>
</head>
<body>
    <form action="/admin/login" method="post">
        <div id="loginForm">
            <fieldset>
                <legend>Kullanıcı Girişi</legend>
                <table class="auto-style1">
                    <tr>
                        <td>Kullanıcı Adı</td>
                        <td>
                            <input id="KullaniciAdi" name="KullaniciAdi" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>Şifre</td>
                        <td>
                            <input id="Sifre" name="Sifre" type="password" />
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input id="Submit1" type="submit" value="Giriş" />
                        </td>
                    </tr>
                </table>
            </fieldset>

        </div>
    </form>
</body>
</html>
